#=============================================================================
# Test Environment Configuration
# Use this file to execute API tests in the Test Environment
#=============================================================================

[marshalling]
serializer=json
deserializer=json

[user]
username=quattroqacore2
password=drypriSu5gra
api_key=40114b39c21045279d8f68f39d91f9e4

[user_auth_config]
strategy=rax_auth
endpoint=https://identity.api.rackspacecloud.com
